<div class="row">
	<div class="col-sm-12" ng-repea="">
		<div class="panel panel-default">

			<div class="panel-heading">

				<h3 class="panel-title">	IDEA title</h3>
			</div>

			<div class="panel-body">
				<p>IDEA Descreption</p>

				<div class="pull-right">
					<button type="button" class="glyphicon glyphicon-thumbs-down btn btn-danger btn-lg btn-round"></button>
					<button type="button" class="glyphicon glyphicon-thumbs-up btn btn-success btn-lg btn-round" </button>
				</div>

			</div>
		</div>
	</div>
</div>
<!--
   <div ng-repeat="vote in votes">
               <tr>
                <td>{{vote.Likes}}</td>
                <td>{{vote.Dislikes}}</td>
		 </tr>
               <div class="pull-right">
<button type="button" class="glyphicon glyphicon-thumbs-down btn btn-danger btn-lg btn-round"></button>
	<button type="button" class="glyphicon glyphicon-thumbs-up btn btn-success btn-lg btn-round"</button>
		</div>
            </div>
-->